<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv4BSng9aI8tppvMgXCIJ5nlsU_Z6Tibc</string>
	<key>GCM_SENDER_ID</key>
	<string>370696734869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetalan.FaceTime</string>
	<key>PROJECT_ID</key>
	<string>facetime-a8b25</string>
	<key>STORAGE_BUCKET</key>
	<string>facetime-a8b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370696734869:ios:e21daedb1f8c6fdc35339c</string>
</dict>
</plist>